body {
    background-color: : #EEEEEE;
}


{
    
    text-decoration: none;
    color: red;
}


#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    
}


#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;


}


content {
    padding: 10px 10px 10px 10px;
}


#nav {
    width: 180px;
}


#nav .selected {
    font-weight: bold;
}

#main {
    width: 600px; 
    float: right;
}

footer {
    clear: both;
}